$primary-color: #4e2062;
$secondary-color: #ef4c23;
$primary-dark-color: #091540;
$mute: #e6e6e6;

$theme-colors: ("primary": $primary-color, "primary-dark": $primary-dark-color, "secondary": $secondary-color);
$enable-responsive-font-sizes: true;
